:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.Btn{
  background-color: red;
  margin: 20px 30px;
  
  border-radius: 5px;
  font-size: 20px;
  transition: 0.3s;
  border-style: none;
  /* top: 265px; */
  /* position: absolute; */
 /*  left: 30px; */
  width: 280px;
  height: 52px;
}
.Btn:hover{
  background-color: rgb(1, 13, 255);
  cursor: pointer;
  border-style: none;
  
}
.InputCep{
  background-color: rgba(142, 139, 139, 0.749);
  height: 52px;
  width: 261px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  border-style: none;
  padding: 0px 10px;
  margin-top: 40px;
  /* top: 184px; */
 /*  position: absolute; */
  /* left: 49px; */
}
.InputCep::placeholder{
  color: white;
}
.Text h5{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  /* position: fixed; */
 /*  top: 325px; */
  text-align: justify;
  /* left: 52px; */
}
#root{
  font-size: 25px;
  color: rgb(0, 0, 0);
  background-color: white;
}
/* .Image{
  position: fixed;
  top: 256px;

} */
.Image .Img{
  width: 310px;
  margin-top: 30px;
  /* top: -206px;
  left: -130px;
  position: absolute; */
}
